body {
  list-style: none;
  font-family: '標楷體';
  margin: 0px;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  width: 400px;
  height: 450px;
  border: 1px solid black;
  padding: 50px;
}

.row {
  display: flex;
}

.box {
  width: 48px;
  height: 48px;
  border: 1px solid black;
}

.box::before {
  content: '';
  width: 140px;
  height: 1px;
  background-color: black;
  border: none;
  position: absolute;
  top: 100px;
  left: 180px;
  transform: rotate(45deg);
}

.box::after {
  content: '';
  width: 140px;
  height: 1px;
  background-color: black;
  border: none;
  position: absolute;
  top: 100px;
  left: 180px;
  transform: rotate(-45deg);
}

.row::before {
  content: '';
  width: 140px;
  height: 1px;
  background-color: black;
  border: none;
  position: absolute;
  bottom: 98px;
  left: 180px;
  transform: rotate(45deg);
}

.row::after {
  content: '';
  width: 140px;
  height: 1px;
  background-color: black;
  border: none;
  position: absolute;
  bottom: 98px;
  left: 180px;
  transform: rotate(-45deg);
}

.text {
  width: 60px;
  height: 550px;
  line-height: 60px;
  text-align: center;
  font-size: 1.7rem;
  writing-mode: vertical-lr;
}

.chess {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: space-around;
  top: -250px;
}

.chess02 {
  position: absolute;
  display: flex;
  width: 350px;
  justify-content: space-between;
  top: -150px;
  left: 50px;
}

.chess03 {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: space-between;
  top: -100px;
}

.chess04 {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: space-between;
  top: 50px;
}

.chess05 {
  position: absolute;
  display: flex;
  width: 350px;
  justify-content: space-between;
  top: 100px;
  left: 50px;
}

.chess06 {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: space-around;
  top: 200px;
}

.red {
  color: red;
}

.chi {
  width: 45px;
  height: 45px;
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 1.8rem;
}

.lgbox {
  width: 398px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lgbox p {
  font-size: 2.2rem;
  margin: 0;
}

.content02 {
  width: 450px;
  display: flex;
  position: absolute;
  justify-content: stretch;
}
